<!DOCTYPE html>
<html>
  <head>
    <title>OCaml AST explorer</title>
    <meta charset="UTF-8" />
    <meta name="description" content="An online OCaml AST explorer." />
    <meta name="color-scheme" content="light dark" />
    <%= htmlWebpackPlugin.files.webpackManifest %>
  </head>
  <body>
    <div id="page">
      <div id="container"></div>
    </div>
  </body>
</html>
